body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.online {
    background-color: green;
    border-radius: 4px;
    padding: 3px;
}
.offline {
    background-color: red;
    border-radius: 4px;
    padding: 3px;
}
.unknown {
    background-color: gray;
    border-radius: 4px;
    padding: 3px;
}
.maintenance {
    background-color: blue;
    border-radius: 4px;
    padding: 3px;
}

.resolved {
    background-color: forestgreen;
    text-align: center;
    align-self: center;
    width: 1000px;
    height: fit-content;
    height: min-content;
    padding: 10px;
    padding-top: 1px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    line-height: 20%;
}
.resolved p, .maintenance_incident p, .investigating p, .resolved i, .maintenance_incident i, .investigating i  {
    line-height: normal;
}
.maintenance_incident {
    background-color: blue;
    text-align: center;
    align-self: center;
    width: 1000px;
    height: fit-content;
    height: min-content;
    padding: 10px;
    padding-top: 1px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    line-height: 20%;
} 

.investigating {
    background-color: orange;
    text-align: center;
    align-self: center;
    width: 1000px;
    height: fit-content;
    height: min-content;
    padding: 10px;
    padding-top: 1px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    line-height: 20%;
}
